body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.search {
  z-index: 1;
  position: fixed;
  top: 5px;
  left: 5px;
}

.search-field {
  width: 350px;
  padding: 6px;
}

.search-area {
  font-size: 1.2em;
  float: right;
}

.location-list {
  padding: 0;
  margin: 6px;
  overflow: auto;
}

.search-input {
  padding: 6px 11px;
  font-size: 1.3em;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: 550;
}

.place {
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: 550;
  font-size: 1em;
  color: rgb(255, 255, 255);
  cursor: pointer;
  -webkit-transition: background-color 550ms;
  -moz-transition: background-color 550ms;
  transition: background-color 550ms;
  border-radius: 7px;
}

.place:hover {
  color: black;
  background-color: white;
}

.location-item {
  padding: 10px;
  margin: 1;
  background-color: #fff;
  list-style-type: none;
  text-align: right;
  border: solid rgb(201, 154, 123) 1px;
}

.location-item:hover {
  background-color: #000;
  color: #fff;
}

.search-area {
  border-radius: 5px;
  position: absolute;
  max-height: 50%;
  overflow: auto;
  right: 0.5%;
  top: 8%;
  z-index: 2;
  background-color: rgb(108, 156, 201);
  opacity: 0.8;
}

.box {
  cursor: pointer;
  padding: 4.5px;
}

.box:hover {
  background-color: #269abc;
  color: white;
}

.button {
  text-align: right;
  padding: 6px;
  background-color: white;
  border: 1px rgba(175, 166, 166, 0.952) solid;
  cursor: pointer;
  width: 300px;
}